body{
	background-color: rgba(255, 255, 25, 0.7);
	position: relative;
}
span{
	color: rgba(0,100,0);
	font-weight: bold;
}

.ordenada{
	font-size: 35px;
}
h1, h3{
	text-align: center;
}
p{
	line-height: 1.6;
}
#quote{
	font-style: italic;
	text-align: center;
}
